name: Rust

on:
  push:
    branches: [main]
    tags:
      - v*
  pull_request:
    branches: [main]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        rust:
          - "1.81"
          - stable
          - beta
          - nightly
    steps:
      - uses: actions/checkout@v5
      - name: Install toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          override: true
      - name: Install clippy
        run: rustup component add clippy
      - name: Build
        run: |
          cargo version
          cargo build --verbose
      - name: Run clippy
        run: |
          cargo clippy -- -D warnings
      - name: Run tests
        run: |
          cargo test --verbose --workspace
          cargo test --verbose --workspace --all-features
          cargo test --verbose --workspace --lib ## Default feature
          cargo test --verbose --workspace --lib --no-default-features 
          cargo test --verbose --workspace --lib --no-default-features --features=toml
          cargo test --verbose --workspace --lib --no-default-features --features=yaml
          cargo test --verbose --workspace --lib --no-default-features --features=rand

      - name: Run examples
        run: |
          cargo run --example simple --features full
          cargo run --example test_suit
          cargo run --example salak
          cargo run --example thread_pool
          cargo run --example logger --features full
          cargo run --example refresh
          cargo run --example watch --features yaml
          cargo run --example profile --features toml

          #  - name: Run benches
          #run: |
          #cargo bench --all-features
